<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Edit User</title>
    <style>
        body {
            background-image: url("/image/91.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            font-family: 'Arial', sans-serif;
            color: rgb(30, 25, 25);
        }

        .container {
            margin-top: 50px;
        }

        h1 {
            color: white;
        }

        .card {
            background-color: #2422226f;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 550px;
            text-align: center;
        }

        .card-header {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            border-radius: 15px 15px 0 0;
        }

        .card-body {
            padding: 20px;
            color: white;
        }

        .form-label {
            font-weight: bold;
            color: white;
        }

        .form-control {
            font-size: 16px;
            border: none;
            border-bottom: 2px solid white;
            background-color: transparent;
            color: white;
        }

        .btn-primary {
            width: 100%;
            font-size: 16px;
            border: 1px solid #af0957;
            background-color: #af0957;
            color: white;
        }

        #user_id {
            border: none;
            border-bottom: 2px solid white;
            background-color: transparent;
            color: rgb(255, 255, 255);
            outline: none;
            /* Remove the outline when focused */
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="mb-3 mt-3 text-center">Chỉnh sửa thông tin khách hàng</h1>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 mb-3 mt-3">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <% if(message.success) { %>
                                    <div class="alert alert-success">
                                        <%= message.success %>
                                    </div>
                                    <% } %>
                                        <% if(message.fail) { %>
                                            <div class="alert alert-danger">
                                                <%= message.fail %>
                                            </div>
                                            <% } %>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <form action="/project/admin_login/edit_user/<%= users.user_id %>" method="post">
                            <div class="mb-3">
                                <label for="user_name" class="form-label">Tên đăng nhập</label>
                                <input type="text" class="form-control" id="user_name" name="user_name"
                                    value="<%= users.user_name %>" style="color: black;" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="user_mobile" class="form-label">Số điện thoại</label>
                                <input type="text" class="form-control" id="user_mobile" name="user_mobile"
                                    value="<%= users.user_mobile %>" required>
                            </div>
                            <div class="mb-3">
                                <label for="user_email" class="form-label">Email</label>
                                <input type="text" class="form-control" id="user_email" name="user_email"
                                    value="<%= users.user_email %>" required>
                            </div>
                            <div class="mb-3">
                                <label for="user_address" class="form-label">Địa chỉ</label>
                                <input type="text" class="form-control" id="user_address" name="user_address"
                                    value="<%= users.user_address %>" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                        </form>
                        <button onclick="window.location.href='/project/admin_login/admin'"
                            class="btn btn-secondary">Quay lại</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</body>

</html>