<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/styleUser.css' />
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .card {
            margin: 38px 250px;
            background-color: #0000008a;
        }

        .card-header {
            background-color: #ffffff00;
        }

        .table th,
        .table td {
            text-align: center;
        }

        .jumbotron {
            background: url("/image/bgprofile.jpg");
            padding: 40px 0;
            margin-bottom: 0;
        }

        .btn-primary {
            width: 40%;
            margin-bottom: 10px;
            border: 1px solid #af0957;
            /* Pink border */
            background-color: #af0957;
            /* Pink background color */
            color: white;
        }

        .form-label {
            font-weight: bold;
            color: rgb(255, 255, 255);
        }

        .form-control {
            border: none;
            border-bottom: 2px solid white;
            /* Add a bottom border */
            background-color: transparent;
            /* Make the background transparent */
            color: rgb(255, 255, 255);
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/project/login/user/<%= sampleData[sampleData.length-1].user_id %>">
                <img src="/image/logo1.png" alt="Hust Airline Logo" width="40" height="40"
                    class="d-inline-block align-text-center"> HUST Airline</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"
                            href="/project/login/user/<%= sampleData[sampleData.length-1].user_id %>">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="/project/login/user/<%= sampleData[sampleData.length-1].user_id %>#about">Giới
                            thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="/project/login/user/<%= sampleData[sampleData.length-1].user_id %>#contact">Liên
                            Hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="/project/login/user/<%= sampleData[sampleData.length-1].user_id %>/my_profile">
                            <img src="/image/profile.jpg" alt="Logo" width="30" height="30"
                                class="d-inline-block align-text-center rounded-circle" style="border-radius: 50%;">
                            <%= sampleData[0].user_name %>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form method="POST" action="/project/logout">
                            <button class="btn btn-login" type="submit" style="background-color: #17a2b8; /* Green color */
                            color: white; /* Text color */">Đăng xuất</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 sidebar">
                <div class="position-sticky">
                    <p></p>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-center d-flex align-items-center justify-content-center h4"
                                href="/project/login/user/<%= sampleData[sampleData.length-1].user_id %>#searchFlight"
                                type="">
                                Đặt vé
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center d-flex align-items-center justify-content-center h4"
                                href="/project/login/user/<%= sampleData[sampleData.length-1].user_id %>/my_tickets"
                                type="">
                                Vé của tôi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center d-flex align-items-center justify-content-center h4"
                                href="/project/login/user/<%= sampleData[sampleData.length-1].user_id %>/my_profile"
                                type="">
                                Hồ sơ của tôi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center d-flex align-items-center justify-content-center h4"
                                href="/project/login/user/<%= sampleData[sampleData.length-1].user_id %>/setting"
                                type="">
                                Cài đặt
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-0">
                <div class="jumbotron">
                    <h1 class="display-4" style="color: #000000;">Cập nhật hồ sơ</h1>
                    <div class="card">
                        <div class="card-header">
                            <% if(message.error) { %>
                                <div class="alert alert-danger">
                                    <%= message.error %>
                                </div>
                                <% } %>
                        </div>

                        <div class="card-body">
                            <form
                                action="/project/login/user/<%= sampleData[sampleData.length-1].user_id %>/update_profile"
                                method="POST">
                                <div class="form-group">
                                    <label for="userName">Tên đăng nhập:</label>
                                    <input style="color: #000000;" type="text" class="form-control" id="username"
                                        name="username" value="<%= sampleData[0].user_name %>" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="userEmail">Email:</label>
                                    <input type="email" class="form-control" id="userEmail" name="userEmail"
                                        value="<%= sampleData[0].user_email %>" required>
                                </div>
                                <div class="form-group">
                                    <label for="userMobile">Số điện thoại:</label>
                                    <input type="tel" class="form-control" id="userMobile" name="userMobile"
                                        value="<%= sampleData[0].user_mobile %>" required>
                                </div>
                                <div class="form-group">
                                    <label for="userAddress">Địa chỉ:</label>
                                    <input type="text" class="form-control" id="userAddress" name="userAddress"
                                        value="<%= sampleData[0].user_address %>" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                            </form>
                        </div>
                    </div>
                </div>
            </main>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>